snippet s
	select 
snippet f
	from 
snippet w
	where 
snippet inter
	st_intersects(${0})
snippet within
	st_dwithin(${0})
snippet point
	'srid=27700;point(${0})'
snippet ast
	st_astext(${0})
snippet dist
	st_distance(${0})
snippet spl
	st_split(${0})
snippet gps
	gas_pipe_staging 
snippet gp
	gas_pipe 
snippet dump
	(st_dump(geom)).geom 
